@import "tailwindcss";

:root {
  --text: #060708;
  --bg: #fff;
  --border: #e5e4e7;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 16px/145% var(--sans);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-text-primary: #060708;
  --color-input-background: #0909090d;
  --color-action-primary: #007aff;
  --color-action-primary-hover: #479fff;
  --color-action-danger: red;
  --color-surface: #fff;
  --color-on-action: #fff;
  --color-border-action: #007aff;
  --color-border-subtle: #0c0d0e0f;
  --color-message-background: #e9fdff;
  --color-message-text: #011c29;
  --color-message-meta: #0784b8;
  --color-border-card: #0000001a;
  --shadow-auth-card: 0 4px 24px #00000014;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  min-width: 0;
  overflow: hidden;
  background-image: url("https://web.max.ru/_app/immutable/assets/pattern_space.aFb4MW9l.svg");
  background-color: #9eddf8;
}

.chat-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(1, 28, 41, 0.3) transparent;
}

.chat-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.chat-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(1, 28, 41, 0.3);
  border-radius: 999px;
}

.chat-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(1, 28, 41, 0.5);
}

p {
  margin: 0;
}
